<footer class="footer mt-auto py-3">
    <style>
        .footer {
            background-color: #493f36;
            color: white; /* Set text color to white */
            padding: 20px;
            text-align: center;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
    <div class="container">
        <span>© 2024 Daycare Facility Management</span>
    </div>
</footer>
