<!-- head.ejs -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Westeros Daycare</title>
    <link rel="icon" type="image/png" href="/assets/legacy.png" />
    <!-- Add necessary CSS files here -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Add any other stylesheets or CSS frameworks you want to use -->
</head>
